version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitoring
    depends_on:
      - primeiro-exporter

  primeiro-exporter:
    restart: always
    build:
      context: ./final
      dockerfile: Dockerfile
    container_name: primeiro-exporter
    ports:
      - "0.0.0.0:8899:8899"
    networks:
      - monitoring
    environment:
      - PYTHONUNBUFFERED=1

networks:
  monitoring:
    driver: bridge

volumes:
  prometheus_data:
