global:
  resolve_timeout: 3m

time_intervals: # Intervalos de tempo para serem usados nas rotas
  - name: workdays # Nome do intervalo de tempo
    time_intervals: # Intervalos de tempo
      - weekdays: ['monday:friday'] # Dias da semana que o intervalo de tempo estar치 ativo
  - name: workhours # Nome do intervalo de tempo
    time_intervals: # Intervalos de tempo
      - times: # Hor치rios que o intervalo de tempo estar치 ativo 
        - start_time: 09:00 # Hor치rio de in칤cio
          end_time: 18:00 # Hor치rio de fim

route:
  # Agrupa alertas pelo nome (ex: todos os "HostDown" v칡m juntos em uma msg)
  group_by: ['alertname']
  
  # Espera 30s antes de mandar o primeiro alerta para ver se outros similares aparecem
  group_wait: 30s
  
  # Se novos alertas do mesmo grupo aparecerem, espera 5m antes de mandar atualiza칞칚o
  group_interval: 5m
  
  # Se o problema persistir, reenvia a notifica칞칚o a cada 4 horas
  repeat_interval: 1h
  
  # Destino padr칚o
  receiver: 'discord-webhook'

receivers:
  - name: 'discord-webhook'
    discord_configs:
      - webhook_url: '__DISCORD_WEBHOOK_URL__'
        
        # T칤tulo din칙mico: Muda 칤cone e status (FIRING vs RESOLVED)
        title: '{{ if eq .Status "firing" }}游댠{{ else }}九{{ end }} [{{ .Status | toUpper }}] {{ .GroupLabels.alertname }}'
        
        # Mensagem formatada
        message: >-
          **Severidade:** {{ .CommonLabels.severity | toUpper }}
          
          **Resumo:** {{ .CommonAnnotations.summary }}
          
          **Detalhes:** {{ .CommonAnnotations.description }}
          
          **Atingido:** {{ range .Alerts }}`{{ .Labels.instance }}` {{ end }}
